body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  text-align: center; /* Centralizar todos os elementos */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Centralizar o título */
  font-weight: bold; /* Destacar o título */
  color: #333;
}

.section {
  margin-bottom: 15px;
  text-align: left; /* Deixar as seções alinhadas à esquerda */
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

#blockToggle {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

#status {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  text-align: left; /* Alinhar texto da lista à esquerda */
}

ul {
  padding-left: 20px;
  text-align: left; /* Alinhar itens da lista à esquerda */
}

li {
  list-style-type: disc;
  margin-left: 10px;
}
